.card {
  width: clamp(300px, 30vw, 600px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  padding: 0.6rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  &:hover {
    background: var(--blue-200);
  }
  > div {
    > picture {
      display: block;
      position: relative;
      width: clamp(100px, 4.2vw, 200px);
      height: clamp(100px, 4.2vw, 200px);
      background: var(--gray-500);

      > img {
        object-fit: contain;
        width: 100%;
      }
    }
    h3 {
      margin-left: 0.4rem;
      font-weight: 400;
    }
    display: flex;
    align-items: center;
  }
  > span {
    opacity: 0.5;
    font-size: 0.8rem;
  }
}
