.modalWrapper {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > div {
    background: var(--white);
    width: clamp(200px, 80vw, 700px);
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 0.6rem;
    position: relative;
    > button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: none;
      padding: 0.4rem;
      color: transparent;
      border: 0;
    }
  }
}
